.groups-container {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .header-title {
    margin-bottom: 2rem;
    text-align: center;
  }
  
  .groups-button-group {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .groups-list {
    width: 80%;
    margin-top: 2rem;
  }
  
  .group-card {
    background-color: var(--OFF_WHITE);
    border: 1px solid var(--GRAY_LIGHT);
    border-radius: 12px;
    padding: 1rem 1.5rem;
    margin-bottom: 1rem;
    cursor: pointer;
    transition: 0.3s ease;
  }
  
  .group-card:hover {
    background-color: #fef9f0;
  }
  
  .group-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .group-code {
    font-size: 0.9rem;
    font-weight: bold;
    color: var(--CARAMEL);
  }
  
  
  .group-details {
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: 1px dashed var(--SILVER);
  }
  
  @media (max-width: 600px) {
    .groups-button-group {
      flex-direction: column;
      align-items: center;
    }
  }
  .member-list {
    padding: 0;
    list-style: none;
  }
  
  .member-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 0;
    border-bottom: 1px solid var(--GRAY_LIGHT);
  }
  
  .kick-button {
    background-color: var(--RED);
    color: white;
    border: none;
    border-radius: 6px;
    padding: 4px 10px;
    cursor: pointer;
    font-size: 0.8rem;
    margin-left: 10px;
    transition: background-color 0.2s ease;
  }
  
  .kick-button:hover {
    background-color:var(--RED);
  }
  
  .group-members-list {
    padding: 0;
    margin-top: 10px;
    list-style-type: none;
    border-top: 1px solid #ddd;
  }
  
  .group-member-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 10px;
    border-bottom: 1px solid #eee;
    margin: 0;
    background-color: #fdfdfd;
    transition: background-color 0.3s ease;
  }
  
  .group-member-row:hover {
    background-color: #f9f5f1;
  }
  
  .group-member-name {
    font-weight: 500;
    color: #333;
    padding-left: 5px;
  }