/* Polls Modal */
.polls-container {
  width: 100%;
  text-align: center;
}

.polls-container h3 {
  display: block;
  color: var(--CARAMEL);
  font-size: 1.1rem;
  font-weight: 500;
}

.option-button {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
}

.error {
  color: var(--RED);
}

.selected-category {
  margin-top: 15px;
  text-align: center;
}

.category-image {
  width: 30%;
  height: auto;
  margin-top: 10px;
}

.header-title h1 {
  text-align:center;
  text-transform:uppercase;
  font-size: 30px; letter-spacing:1px;
  color: var(--CARAMEL);
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 16px 0;
  grid-gap: 22px;
}
 
.header-title h1:after, .header-title h1:before {
  content: " ";
  display: block;
  border-bottom: 2px solid var(--SANDY);
}
 