/* MAIN COLOR SCHEME */
:root{
    --EMERALD: #86CB92;
    --TEAGREEN: #BEEDAA;
    --JASMINE: #FDDB74;
    --SANDY: #FCAF58;
    --GRAY: #595959;
    --GRAY_LIGHT: #5959594d;
    --ERROR: rgb(247, 156, 156);
}
