/* MAIN COLOR SCHEME */
:root{
    --EMERALD: #86CB92;
    --TEAGREEN: #BEEDAA;
    --JASMINE: #FDDB74;
    --SANDY: #FCAF58;
    --CARAMEL: #DC803A;
    --GRAY: #595959;
    --GRAY_LIGHT: #5959594d;
    --SILVER: #B1A8A0;
    --OFF_WHITE: #fffefa;
    --RED: #FF3C3C;
    --PINK: rgb(247, 156, 156);
}
